<div class='user-page container'>
  <div class='search-result'>
    <h3><%= @user.nickname %>さんの投稿一覧</h3>
    <div class='search-sort'>
      <%= tag.select class:'sort_order', name: :sort_order  do%>
        <option value="">並び替え</option>
        <option value="budget_asc">予算の安い順</option>
        <option value="budget_desc">予算の高い順</option>
        <option value="deadline_asc">期日の近い順</option>
        <option value="deadline_desc">期日の遠い順</option>
        <option value="created_at_asc">投稿の古い順</option>
        <option value="created_at_desc">投稿の新しい順</option>
      <%end%>
    </div>
  </div>
  <%= render 'layouts/card-list', :post => @posts%>
</div>