// post-index
.card-list{
  column-count: 4;
  //NOTE:bootstrapによる文字色変更を回避
  a {
    color: black;
  }
  a:hover {
    color: black;
  }
  .card:hover{
    box-shadow:3px 3px 6px rgba(0,0,0,0.5);
  }
  .card-body{
    padding: 0.8rem;
    .card-title{
      font-weight: bold;
    }
    .card-post-reputation{
      @include post-reputation(0%);
    }
    .card-post-user{
      width: 100%;
      text-align: right;
      opacity: 0.3;
      font-size: 0.8rem;
      padding-top: 10px;
    }
  }
  .card-footer{
    padding: 0;
    &-btns{
      margin-bottom: 0;
    }
    &-btn{
      background-color: white;
      width: 33.33%;
      text-align: center;
      border: 1px solid rgba(67, 74, 84, 0.125);
      padding: 0.75rem 0;
      color: $dark_gray;
      &:hover{
        box-shadow:3px 3px 6px rgba(0,0,0,0.5);
        opacity: 1;
        color: black;
      }
    }
  }
}

//TODO:overlay実装用
#post-card-info{
  overflow: hidden;
  position: relative;
  &:hover #post-card-img-overlay{
    opacity: 1;
  }
  #post-card-img-overlay{
    position:		absolute;
    opacity:		0;
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
}
