// post-new,edit
.formContent{
  border-bottom:1px solid $light_gray;
  padding: 30px;
  &__titleBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__formTitle{
      width: 200px;
      display: flex;
      justify-content: start;
      .fa-tasks{
        font-size: 1.4rem;
      }
    }
  }
  .progressBar-gauge{
    width: 100%;
    margin: 5px;
  }

  .taskFormArea{
    padding: 15px 0;
    .taskForm_group{
      margin-bottom: 5px;
      .post-tasks-done{
        margin: 0 5px;
      }
      .post-tasks-title{
        width: 65%;
      }
    }
  }
}
.form-submit{
  padding: 30px 45%;
  align-items: center;
}

.form-image-box{
  &__main{
    &__previews{
      display: flex;
      flex-flow: wrap;
      &__view{
        width: 19%;
        margin: 10px 5px;
        &__image{
          height: 180px;
          line-height: 150px;
          text-align: center;
          .input_images{
            max-width: 200px;
            max-height: 150px;
          }
          .image-remove{
            color: $blue;
            text-align: center;
            line-height: 1rem;
            padding: 0.5rem 0;
            cursor: pointer;
          }
        }
      }
    }
    &__uploaders{
      &__label{
        width: 100%;
        background-color: $gray;
        border: 1px dashed rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        position: relative;
        .image-file_group{
          i{
            position: absolute;
            left: 50%;
            top: 30%;
          }
          p{
            text-align: center;
            width: 100%;
            position: absolute;
            top: 60%;
          }
          .image-file-uploader{
            width: 100%;
            height: 150px;
            opacity: 0;
          }
        }
      }
    }
  }
}
.form-group-sideSet{
  display: flex;
  justify-content: space-between;
  .post-budget{
    display: flex;
    justify-content: space-between;
    width: 16rem;
    &-priceTag{
      font-size: 1.5rem;
    }
    #post-budget{
      width: 14rem;
    }
  }
  #post-address{
    width: 60%;
  }
  #post-placeID{
    display: none;
  }
  .post-category{
    width: 60%;
  }
}
// TODO:レーティングの実装
.p-rating {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 18px;
}
.p-rating .p-rating-star:hover,
.p-rating .p-rating-star:hover ~ .p-rating-star {
  color: transparent;
}
.p-rating .p-rating-star:hover:before,
.p-rating .p-rating-star:hover ~ .p-rating-star:before {
  color: gold;
  content: '\2605';
  left: 0;
  position: absolute;
}
.p-rating-star {
  /* Reset styles for button */
  background-color: transparent;
  border: transparent;
  margin: 0 2px;
  padding: 0;
  /* Used to position the hover state */
  position: relative;
}
