//post-show
.post-info{
  padding: 30px 0;
  border-bottom:1px solid $light_gray;
  &__post-title{
    text-align: center;
  }
  &__post-flags{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  &__post-category{
    text-align: center;
  }
  &__post-reputation{
    @include post-reputation(45%);
  }

  &__post-images{
    text-align: center;
    #post-main-image{
      background-color: $light_gray;
      margin: 10px 0;
    }
    li{
      border-radius: 9999px;
      height: 0.5rem;
      width: 0.5rem;

      /* Active dot */
      background-color: rgba(0, 0, 0, .3);

      /* Inactive dot */
      // background-color: transparent;
      background-color: white;
      border: 1px solid white ;

    }
    .images-gallery{
      margin: 10px 0;
    }
  }

  #map{
    height: 400px;
  }

  // TODO:mixin
  &__tasks-titleBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__formTitle{
      width: 200px;
      display: flex;
      justify-content: start;
      .fa-tasks{
        font-size: 1.4rem;
      }
    }
  }

  &__post-tasks{
    padding-bottom: 10px;
    .post-task-info{
      display: flex;
      .fa-check{
        margin: 5px;
      }
      .fa-circle{
        margin: 5px;
        font-size: 0.5em;
      }
    }
  }

  &__post-btns{
    text-align: center;
    .post-edit-btn{
      margin-right: 30px;
      width: 100px;
    }
    .post-delete-btn{
      margin-left: 30px;
      width: 100px;
    }
  }

  &__commentForm{
    display: flex;
    justify-content: center;
    text-align: center;
    #comment-form{
      width: 500px;
      margin: 10px 0;
    }
  }
  &__post-comments{
    text-align: center;
  }

}
