// ヘッダー
.main-header{
  padding: 0 1rem;
}

// フッター
.main-footer-base{
  width: 100vw;
  background-color: #F9F9F9;
  padding: 30px;
  // position: absolute;
  bottom: 0;
  .main-footer{
    display: flex;
    justify-content: space-between;
    .main-footer-menu{
      text-align: center;
    }
  }
}
