// TODO:タスク一覧化機能実装時の参考
// .test{
//   font-family: 'Bradley Hand','Segoe Script','Segoe Print',sans-serif;/*手書き風のフォント*/
// }
// ol li {
//   padding: 0.5em 0;
//   position: relative;
//   padding-left: 1.4em;
//   line-height: 1.5em;
// }
// ol li:before{
//   counter-increment: number;
//   content: counter(number) ".";
//   position: absolute;
//   left: 0;
//   font-family: 'Bradley Hand','Segoe Script','Segoe Print',sans-serif;/*手書き風のフォント*/
//   font-size: 1.3em;/*フォントサイズ*/
// }
a {
  color: black;
}
a:hover {
  color: black;
}

.list-contents{
  width: 70%;
  .list-nav{
    border-bottom: 1px solid $bs-info;
  }
  .list-nav-link{
    background-color: $light-gray;
    border-color: $light-gray;
    border-bottom: 1px solid $bs-info;
  }
  .list-nav-link.active{
    background-color: $bs-info;
    color: white;
  }

  .post-data{
    height: 150px;
    width: 100%;
    margin: 10px 0;
    background-color: white;
    border: 1px solid $light_gray;
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);

    &__post-img{
      height: 140px;
      min-width: 140px;
      line-height: 140px;
      text-align: center;
      margin: 5px;
      &__img-file{
        max-height: 140px;
        max-width: 140px;
      }
    }
    &__post-body{
      margin: 10px;
      width: 100%;
      position: relative;
      &__post-flags{
        position: absolute;
        right: 0;
        top: 0;
      }
      &__post-stars{
        line-height: 20px;
      }
      &__post-reputation{
        @include post-star(0%);
        margin: 0 5px 5px 0;
      }
      &__post-priority{
        @include post-star(0%);
        margin: 0 5px 5px 0;
      }
      &__set-info{
        color: $dark-gray;
        font-size: 0.8rem;
        vertical-align: middle;
        line-height: 20px;
        // TODO:アイコンの中央揃え
        i{
          margin: 3px 5px 3px 0px;
        }
        span{
          margin-right: 10px;
        }
      }
      &__post-btns{
        position: absolute;
        bottom: 0;
        right: 0;
        // FIXME:応急処置詳細不明
        a{
          text-decoration: none;
        }
      }
    }
  }
}
.user-contents{
  background-color: white;
  margin-left: 10px;
  width: 30%;
  border: 1px solid $light_gray;
  box-shadow:1px 1px 2px rgba(0,0,0,0.5);
  height: 100%;
  // right: 0;
  // position: fixed;
  .user-info{
    background-color: $light_gray;
    margin: 10px;
    .user-info-detail{
      padding: 10px;
      border-bottom: 1px solid $gray;
      .user-img{
        width: 40px;
        height: 40px;
      }
      .user-profile{
        padding: 5px 10px;
      }
    }
    .user-posts-chart{
      position: relative;
      height: 200px;
      padding: 10px;
      &::before{
        content: '投稿数';
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
      }
    }
  }
  .user-menu{
    padding: 10px;
  }
  .user-menu-btn{
    width: 100%;
    margin: 5px 0;
  }
}
