<div class='topPage'>
  <div class='topOne'>
    <div class='topOne__content'>
      <h2 class='topOne__content__title'>
        <br>
        人生で達成したい夢を叶えよう
      </h2>
      <p class='topOne__content__text'>
        BucketListとは英語圏で「死ぬまでにやりたいことリスト」という意味です
        <br>
        夢を叶えるための第一歩は言語化することです
        <br>
        BucketListを作成、共有して一緒に夢を叶えましょう
      </p>
    </div>
  </div>
  <div class='topTwo'>
    <div class='topTwo__content'>
      <h2 class='topTwo__content__title'>
        <br>
        人生で達成したい夢を探そう
      </h2>
      <p class='topTwo__content__text'>
        BucketListでは人にリストを公開することができます
        <br>
        同じ夢を持つ仲間が見つかるかもしれません
        <br>
        BucketListを検索して参考にするのもいいでしょう
      </p>
    </div>
  </div>
  <div class='topThree'>
    <div class='topThree__title'>
      ピックアップ
    </div>
    <div class='topThree__container'>
      <% @posts.each do |post| %>
        <%= render 'layouts/card', :post => post %>
      <% end %>
    </div>
  </div>
  <div class='topFour'>
    <div class='topFour__introduction'>
      <div class='topFour__introduction__content'>
        <p>今すぐ無料で利用する</p>
        <%= link_to new_user_registration_path do%>
          <div class="btn btn-info btn-lg", style="text-align: center;">
            新規登録
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
