  <div class='search-filter'>
    <% @categories.each do |tag|%>
      <%# <li class='category-filter d-inline-block'> %>
        <%= link_to search_posts_path(tag_name: tag), class:'category-filter' do%>
          <%# HACK:case文辞めたい→アイコン情報をDBに持たせる？ %>
          <% case tag%>
            <%when "グルメ"%>
              <i class="fa-lg fas fa-utensils"></i>
            <%when "住処"%>
              <i class="fa-lg fas fa-home"></i>
            <%when "人生"%>
              <i class="fa-lg far fa-clock"></i>
            <%when "アウトドア"%>
              <i class="fa-lg fas fa-door-open"></i>
            <%when "インドア"%>
              <i class="fa-lg fas fa-house-user"></i>
            <%when "エンターテイメント"%>
              <i class="fa-lg fas fa-exclamation"></i>
            <%when "スポーツ"%>
              <i class="fa-lg fas fa-running"></i>
            <%when "愛"%>
              <i class="fa-lg far fa-heart"></i>
            <%when "健康"%>
              <i class="fa-lg fas fa-heartbeat"></i>
            <%when "旅行"%>
              <i class="fa-lg fas fa-plane-departure"></i>
            <%when "仕事"%>
              <i class="fa-lg fas fa-user-tie"></i>
            <%when "スキル"%>
              <i class="fa-lg fas fa-tools"></i>
            <%when "初体験"%>
              <i class="fa-lg fas fa-trophy"></i>
          <% end %>
          <span><%= tag%></span>
        <%end%>
      <%# </li> %>
    <%end%>
  </div>
  <div class='search-result'>
    <h3>検索結果</h3>
    <div class='search-sort'>
      <%= tag.select class:'sort_order', name: :sort_order  do%>
        <option value="">並び替え</option>
        <option value="budget_asc">予算の安い順</option>
        <option value="budget_desc">予算の高い順</option>
        <option value="deadline_asc">期日の近い順</option>
        <option value="deadline_desc">期日の遠い順</option>
        <option value="created_at_asc">投稿の古い順</option>
        <option value="created_at_desc">投稿の新しい順</option>
      <%end%>
    </div>
  </div>
  <%= render 'layouts/card-list', :post => @posts%>
