.ui-helper-hidden-accessible {
  display: none;
}
.contents{
  background-color: $light_gray;
  padding: 30px 0;
}
.main-page{
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.post-page{
  background-color: white;
  padding: 30px;
}

// フッター
.main-footer-base{
  width: 100vw;
  background-color: #F9F9F9;
  padding: 30px;
  // position: absolute;
  bottom: 0;
  .main-footer{
    display: flex;
    justify-content: space-between;
    .main-footer-menu{
      text-align: center;
    }
  }
}

// post-index
#post-card-info{
  overflow: hidden;
  position: relative;
  &:hover #post-card-img-overlay{
    opacity: 1;
  }
  #post-card-img-overlay{
    position:		absolute;
    opacity:		0;
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
}

// post-new,edit
.formContent{
  border-bottom:1px solid $light_gray;
  padding: 30px;
  &__titleBar{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid $light_gray;
    margin-bottom: 10px;
    &__formTitle{
      width: 200px;
      display: flex;
      justify-content: start;
      .fa-tasks{
        font-size: 1.4rem;
      }
    }
  }
  .taskFormArea{
    .taskForm_group{
      margin-bottom: 5px;
      .post-tasks-title{
        width: 65%;
      }
    }
  }
}
.form-submit{
  padding: 30px 45%;
  align-items: center;
}

.form-image-box{
  &__main{
    &__previews{
      display: flex;
      flex-flow: wrap;
      &__view{
        width: 19%;
        margin: 10px 5px;
        .image-remove{
          color: $blue;
          text-align: center;
        }
      }
    }
    &__uploaders{
      &__label{
        width: 100%;
        background-color: $gray;
        border: 1px dashed rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        position: relative;
        .image-file_group{
          i{
            position: absolute;
            left: 50%;
            top: 30%;
          }
          p{
            text-align: center;
            width: 100%;
            position: absolute;
            top: 60%;
          }
          .image-file-uploader{
            width: 100%;
            height: 150px;
            opacity: 0;
          }
        }
      }
    }
  }
}
.form-group-sideSet{
  display: flex;
  justify-content: space-between;
  .post-budget{
    display: flex;
    justify-content: space-between;
    width: 16rem;
    &-priceTag{
      font-size: 1.5rem;
    }
    #post-budget{
      width: 14rem;
    }
  }
  #post-address{
    width: 60%;
  }
  .post-category{
    width: 60%;
  }
}

// TODO:レーティングの実装
.p-rating {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 18px;
}
.p-rating .p-rating-star:hover,
.p-rating .p-rating-star:hover ~ .p-rating-star {
  color: transparent;
}
.p-rating .p-rating-star:hover:before,
.p-rating .p-rating-star:hover ~ .p-rating-star:before {
  color: gold;
  content: '\2605';
  left: 0;
  position: absolute;
}
.p-rating-star {
  /* Reset styles for button */
  background-color: transparent;
  border: transparent;
  margin: 0 2px;
  padding: 0;
  /* Used to position the hover state */
  position: relative;
}

//post-show
.post-info{
  padding: 30px 0;
  border-bottom:1px solid $light_gray;
  &__post-title{
    text-align: center;
  }
  &__post-flags{
    text-align: center;
    margin-bottom: 0.5rem;
  }
  &__post-category{
    text-align: center;
  }
  &__post-reputation{
    position: relative;
    height: 20px;
    width: 80px;
    left: 45%;
    .post-reputation-front{
      position: absolute;
      color: #ffcc33;
    }
    .post-reputation-back{
      color: $gray;
      position: absolute;
    }
  }

  &__post-images{
    text-align: center;
    .post-main-image{
      background-color: $light_gray;
      margin: 10px 0;
    }
    .images-gallery{
      margin: 10px 0;
    }
  }



  #map{
    height: 400px;
  }

  // TODO:mixin
  &__tasks-titleBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &__formTitle{
      width: 200px;
      display: flex;
      justify-content: start;
      .fa-tasks{
        font-size: 1.4rem;
      }
    }
  }

  &__post-tasks{
    padding-bottom: 10px;
    .post-task-info{
      display: flex;
      .fa-check{
        margin: 5px;
      }
    }
  }

  &__post-btns{
    text-align: center;
    .post-edit-btn{
      margin-right: 30px;
      width: 100px;
    }
    .post-delete-btn{
      margin-left: 30px;
      width: 100px;
    }
  }

  &__commentForm{
    display: flex;
    justify-content: center;
    text-align: center;
    #comment-form{
      width: 500px;
      margin: 10px 0;
    }
  }
  &__post-comments{
    text-align: center;
  }

}

// TODO:タスク一覧化機能実装時の参考
// .test{
//   font-family: 'Bradley Hand','Segoe Script','Segoe Print',sans-serif;/*手書き風のフォント*/
// }
