.ui-helper-hidden-accessible {
  display: none;
}
#map{
  height: 400px;
}
.contents{
  background-color: $light_gray;
  padding: 30px 0;
}
.main-page{
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.post-page{
  background-color: white;
  padding: 30px;
}

// フッター
.main-footer-base{
  width: 100vw;
  background-color: #F9F9F9;
  padding: 30px;
  // position: absolute;
  bottom: 0;
  .main-footer{
    display: flex;
    justify-content: space-between;
    .main-footer-menu{
      text-align: center;
    }
  }
}

// post-index
#post-card-info{
  overflow: hidden;
  position: relative;
  &:hover #post-card-img-overlay{
    opacity: 1;
  }
  #post-card-img-overlay{
    positiaon:		absolute;
    opacity:		0;
    background-color:	rgba(0,0,0,0.4);
    -webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
  }
}

