<div class='main-footer-base'>
  <div class='main-footer'>
    <div class='main-footer-menu col-sm-4'>
      <h6>About</h6>
      <ul>About Us</ul>
    </div>
    <div class='main-footer-menu col-sm-4'>
      <h6>MyBucketList</h6>
      <ul>How to Use</ul>
    </div>
  </div>
</div>