                    <div class="post-priority-back">
                      ★★★★★
                    </div>
                    <div class="post-priority-front">
                      <% case post.priority %>
                      <% when 1%>
                        ★
                      <% when 2%>
                        ★★
                      <% when 3%>
                        ★★★
                      <% when 4%>
                        ★★★★
                      <% when 5%>
                        ★★★★★
                      <%end%>
                    </div>